<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit URL</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="home-card">
    <h1>Edit URL</h1>
    <p>Short Code: {{ short_code }}</p>
    <form method="POST">
        <input type="text" name="new_url" value="{{ original_url }}" required>
        <br>
        <label>expiry Days</label>
        <input type="number" name="expiry_days" value="{{ expiry_days }}" min="1"  required>
        <br><br>
        <button type="submit">Save changes</button>
    </form>
    </div>
</body>
</html>